---
layout: default
---

<!--MAIN SECTION START-->
<div id="fullpage" class="fullpage-default">
    <div class="section fp-auto-height-responsive animated-row" data-section="home">
        <div class="section-inner">
            <div class="welcome-box">
                <h1 class="welcome-title animate" data-animate="fadeInUp"><span>Welcome to </span>PitchBlack
                    <span>Recovery Project</span></h1>
                <p class="animate" data-animate="fadeInUp">PitchBlack Recovery is a fork of TWRP with many
                    improvements to make your experience better.</p>
                <span class="btn next-section animate" data-animate="fadeInUp">Download Now</span>
            </div>
            <!--/.welcome-box-->
        </div>
        <!--/.section-inner-->
    </div>
    <!--/.section-->
    <!-- Include About Section -->
    {% include about.html %}
    <!-- Include Team Member Section -->
    {% include team.html %}
    <!-- Include Features Section -->
    {% include features.html %}
    <!-- Include Downloads Section -->
    {% include downloads.html %}
    <!-- Include Contacts Section -->
    {% include contact.html %}
</div>
<!--/#main-->
<!--MAIN SECTION END-->