<div class="section fp-auto-height-responsive animated-row" data-section="about">
                <!--/.about-->
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img
                                                src="images/PBRP_icon.png" alt=""></figure>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <h2>About PBRP</h2>
                                                <p>PitchBlack Recovery was started in March 18 2018 with the movement
                                                    to enhance TWRP with better customizatons, themes and features.</p>
                                            </div>
                                            <div class="facts-row animate" data-animate="fadeInUp">
                                                <div class="row">
                                                    {%- comment -%} This part assigns the values in #counter-box for
                                                    safe editing {%- endcomment -%}
                                                    {%- assign repo_num = "50" -%}
                                                    {%- assign repo_context= "+" -%}
                                                    {%- assign device_num = "30" -%}
                                                    {%- assign device_context = "+" -%}
                                                    {%- assign dl_count = "150" -%}
                                                    {%- assign dl_context = "K+" -%}
                                                    {%- assign rel_count = "50" -%}
                                                    {%- assign rel_context = "+" -%}
                                                    {%- comment -%} This part assigns the values in #counter-box for
                                                    safe editing {%- endcomment -%}
                                                    <div class="col-sm-6">
                                                        <div class="counter-box">
                                                            <span class="count-number">{{ repo_num }}</span><span
                                                                class="countext">{{ repo_context }}</span>
                                                            <!--/.count-number-->
                                                            <br> Repositories
                                                        </div>
                                                        <!--/.counter-box-->
                                                    </div>
                                                    <!--/.col-->
                                                    <div class="col-sm-6">
                                                        <div class="counter-box">
                                                            <span class="count-number">{{ device_num }}</span><span
                                                                class="countext">{{ device_context }}</span>
                                                            <!--/.count-number-->
                                                            <br> Official Devices
                                                        </div>
                                                        <!--/.counter-box-->
                                                    </div>
                                                    <!--/.col-->
                                                    <div class="col-sm-6">
                                                        <div class="counter-box">
                                                            <span class="count-number">{{ dl_count }}</span><span
                                                                class="countext">{{ dl_context }}</span>
                                                            <!--/.count-number-->
                                                            <br> Downloads
                                                        </div>
                                                        <!--/.counter-box-->
                                                    </div>
                                                    <!--/.col-->
                                                    <div class="col-sm-6">
                                                        <div class="counter-box">
                                                            <span class="count-number">{{ rel_count }}</span><span
                                                                class="countext">{{ rel_context }}</span>
                                                            <!--/.count-number-->
                                                            <br> Releases
                                                        </div>
                                                        <!--/.counter-box-->
                                                    </div>
                                                    <!--/.col-->
                                                </div>
                                                <!--/.row-->
                                            </div>
                                        </div>
                                        <!--/.about-contentbox-->
                                    </div>
                                </div>
                                <!--/.row-->
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.about-section-->
                </div>
                <!--/.section-inner-->
            </div>
            <!--/.section-->