<footer id="footer">
            <div class="container-fluid">
                <div class="footer-row">
                    <ul class="social-icons">
                        <li><a href="{{ site.links.github_org }}" title="GitHub"><i class="fa fa-github"></i></a></li>
                        <li><a href="{{ site.links.tg_group }}" title="Telegram"><i class="fa fa-telegram"></i></a></li>
                        <li><a href="{{ site.links.fb_group }}" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ site.links.sf_release }}" title="SourceForge"><img src="images/sf_icon.png" width="32"
                                    height="32" alt="SourceForge"></a></li>
                    </ul>
                    <!--/.social-icons-->
                    <div class="subscribe-section">
                        <a href="#" class="btn btn-xs btn-outline btn-subscribe">Subscribe</a>
                        <div class="subscribe-row">
                            <div class="row align-items-center">
                                <div class="col-lg-3 container">
                                    <h5>Subscribe to our Newsletters</h5>
                                    <p>Get Latest News, Information, Notifications & Announcements</p>
                                </div>
                                <div class="col-lg-3 col-md-4 container">
                                    <a class="btn btn-dark" href="{{ site.links.sf_newsletter }}">Subscribe</a>
                                </div>
                            </div>
                            <a href="#" class="close-btn close-subscribe"></a>
                        </div>
                        <!--/.subscribe-row-->
                    </div>
                    <!--/.subscribe-section-->
                    <div class="footer-right">
                        &copy; {{ "now" | date: "%Y" }} <i>PBRP</i> and <i>{{ site.author }}</i>. All Rights Reserved.
                    </div>
                    <!--/.footer-right-->
                </div>
                <!--/.footer-row-->
            </div>
            <!--/.container-->
        </footer>
        <!--#/footer-->
