<!-- jQuery 3.0 Library File -->
    <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
    <!-- Latest Bootstrap -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <!-- Fullpage js -->
    <script src="{{ site.baseurl }}/assets/js/fullpage.extensions.min.js"></script>
    <!-- Enable scrollbar when more content js -->
    <script src="assets/js/scrolloverflow.min.js"></script>
    <!-- slider js -->
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.inview.min.js"></script>
    <!-- Particles JS -->
    <script src="{{ site.baseurl }}/assets/js/particles.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/app.js"></script>
    <!-- Main Script -->
    <script src="{{ site.baseurl }}/assets/js/general-scripts.js"></script>