<header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="#" id="logo" title="PitchBlack Recovery Project">
                        <img class="resize50" src="images/logo.png"
                            alt="PitchBlack Recovery Project">
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
                                    <li data-menuanchor="about"><a href="#about">About PBRP</a></li>
                                    <li data-menuanchor="team"><a href="#team">Our Team</a></li>
                                    <li data-menuanchor="features"><a href="#features">Features</a></li>
                                    <li data-menuanchor="downloads"><a href="#downloads">Downloads</a></li>
                                    <li data-menuanchor="contact"><a href="#contact">Contact Us</a></li>
                                </ul>
                                <!--/.navigation-menu-->
                            </div>
                            <!--/.nav-box-->
                        </nav>
                        <!--/#navigation-->
                    </div>
                    <!--/.navigation-row-->
                </div>
                <!--/.navbar-->
            </div>
            <!--/.container-->
        </header>
        <!--/#header-->